<div class="register">
	<div class="row">
		<div class="col-md-4">
			<span class="label label-default">Name</span>
		</div>
		<div class="col-md-8">
			<input type="text" class="form-control" id="name" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<span class="label label-default">Date of Birth</span>
		</div>
		<div class="col-md-8">
			<input type="text" class="form-control" id="dob" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<span class="label label-default">Blood Group</span>
		</div>
		<div class="col-md-8">
			<input type="text" class="form-control" id="bloodgroup" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<span class="label label-default">Sex</span>
		</div>
		<div class="col-md-8">
			<input type="text" class="form-control" id="sex" />
		</div>
	</div>
</div>