<div class="register">
	<div class="margintop">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-6">
				<a href="#/home">Home</a>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6">Register yourself</div>
		</div>
		<div class="row margintop">
			<div class="col-md-4 col-sm-4 col-xs-4">
				<span class="label label-default">Name</span>
			</div>
			<div class="col-md-8 col-sm-8 col-xs-8">
				<input type="text" class="form-control" id="name" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-4">
				<span class="label label-default">Date of Birth</span>
			</div>
			<div class="col-md-8 col-sm-8 col-xs-8">
				<input type="text" class="form-control" id="dob" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-4">
				<span class="label label-default">Blood Group</span>
			</div>
			<div class="col-md-8 col-sm-8 col-xs-8">
				<input type="text" class="form-control" id="bloodgroup" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-4">
				<span class="label label-default">Sex</span>
			</div>
			<div class="col-md-8 col-sm-8 col-xs-8">
				<input type="text" class="form-control" id="sex" />
			</div>
		</div>
		<div class="row margintop">
			<div class="col-md-12">
				<button type="button" class="btn btn-default">Register</button>
				<button type="button" class="btn btn-default">Clear</button>
			</div>
		</div>
	</div>